{% block body %}

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="block1">
<h1>Emails subscribed for {{location}} alerts:</h1>

    <div class="container">
        <h2>Form control: select</h2>
        <p>The form below contains two dropdown menus (select lists):</p>
        <form>
          <div class="form-group">
            <select multiple class="form-control" id="sel2">
                {% for email in emails %}
                <option value="{{email}}">{{email}}</option>
                {% endfor %}
            </select>
          </div>
          <label for="usr">Email:</label>
          <input type="text" class="form-control" id="usr" name="email">
          <br>
          <button type="submit" formmethod="POST" class="btn btn-primary btn-md">Add Recipient</button>
          <button type="button" class="btn btn-primary btn-md">Remove Recipient</button>
        </form>
      </div>

</div>
{% endblock %}