<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alerts Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <form>
      <p></p>
    <div class="form-group">
      <label for="sel1">Select location (select one):</label>
      <select class="form-control" id="sel1" onchange="location = this.value;">
        <option>Select Location</option>
        <option>Hyderabad</option>
        <option>Bangalore</option>
        <option>Mumbai</option>
        <option>Delhi</option>
        <option>Kolkata</option>
        <option>Chennai</option>
      </select>
    </div>
  </form>
</div>

</body>
</html>
